 li{
display: inline;
margin-right: 60px;

}

.list1{
      
     
    width: 90%;
    height: 50px;
    background-color: gray;
    margin-top: 0%;
    margin-left: 5%;
    position:absolute;
    
    
}


#maindiv{
    width: 100%;
    height: 70px;
    /* background-color: gray; */
    position: fixed;
    
}

#div2{
    width: 5%;
    height: 50px;
    background-color: gray;
    margin-bottom: 10%;
}

#v1{

    /* display: inline-block; */
    margin-top: 0px  auto;
    position: absolute;
    padding-top: 44%;
    padding-left: 40%;
    

}
#manbox{

display: inline-block;
width: 100%;

}

#h1{
    position: absolute;
    padding-top: 46%;
    padding-left: 33%;
}

#box2{
    position: absolute;
    padding-left: 40%;
    padding-top: 10%;
    
    
    
}
#p1{
    color: white;
    padding-left: 20%;

}
#r1{
    width:50%;
    height:100px;
    position:absolute;

    
}
#iphone15{
    position: absolute;
    padding-left: 500px;
    padding-top: 100px;
}



#watch{
  position: absolute;  
  padding-left:350px ;
  padding-top: 100px;
  width: 200px;    

}
#W1{
    color: white;
    width: 300px;
}




#watch2{
    position: absolute; padding-left:350px ;
    padding-top: 100px;
    width: 200px; 

}
#ipaid{
    position: absolute;
    padding-left:280px ;
    padding-top: 100px;
    width: 500px;  

}

#list2{
    position: absolute;
    padding-left: 200px;
}

#list3{
    position: absolute;
    padding-left: 500px;
}



